/*
    1. CSS Imports
    2. General Styles
    3. Sidebar
    4. Charts
    5. Preferences form
    6. Sign in form
    7. tables.html
    8. Bootstrap overrides
    9. Maps
    10. Media Queries
--------------------------------------- */

/* 1. CSS Imports
--------------------------------------- */
@import url('http://fonts.googleapis.com/css?family=Open Sans:300,400,700');
@import url(font-awesome.min.css);
@import url(bootstrap.min.css);

/* 2. General Styles
--------------------------------------- */
* { font-family:Arial, Helvetica, sans-serif; }
body { background-color: rgb(235,235,235); font-size: 1.3em;}
h1 { font-size: 24px;color:#333; }
.btn a {
    color: white;
    text-decoration: none;
}
.logo { display: inline-block; }
.logo h1 {
    font-size: 24px;
    margin: 10px 15px;
}
.templatemo-content-wrapper {
	border:1px #ccc solid;
	box-shadow:0 0 10px 0 rgba(0,0,0,.2);
	-moz-box-shadow:0 5px 10px 0px rgba(0,0,0,.2);
	-webkit-box-shadow:0 5px 10px 0px rgba(0,0,0,.2);	
    float: left;
    width: 100%;
}
.templatemo-content {
    margin-left: 235px;
    margin-top: 0px;
    min-height: 1000px;
    padding: 25px 20px 0 20px;
    background-color: white;
    overflow-x: hidden;
}
.templatemo-content button,input{
	border-radius:5px;
	
}
.templatemo-content select
{
	border-radius:5px;
}
 .templatemo-content textarea
{
	border-radius:5px;
}
.templatemo-content input{
	border-radius:5px;
	border:1px #F2F2F2 solid;
	padding:0.5%;
}
.templatemo-footer {
    clear: both;
    font-size: 13px;
    padding: 8px 0 5px 0;
    text-align: center;
    color: #fff;
    background-color: #191919;
}
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-top { margin-top: 3%; }

.bold{font-weight:bold;}
.quarter-width{
	width:30%;
}
.half-width{
	width:50%;
}
.left-align{
	margin-left:2%;
	}
.left-padding{
	padding-left:5%;
	}
.block{
	display:block;	
}
input[type=submit]{
	border:0;
	border-radius:5px;
	padding:1%;
}
/* 3. Sidebar
------------------------------------------------------*/
#templatemo_search_box {
    width: 150px;
    display: inline-block;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-header { color: rgb(127,127,127); }
.templatemo-sidebar {
    padding: 0;
    /*margin-top: 20px;*/
	
}
.templatemo-sidebar .templatemo-sidebar-menu {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}
.templatemo-sidebar .templatemo-sidebar-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}
.templatemo-sidebar .templatemo-sidebar-menu > li > a {
    display: block;
    margin: 0;
    border: 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;    
}
.templatemo-sidebar-menu a { color: black; }
.templatemo-sidebar-menu a:hover { text-decoration: none; }
.templatemo-sidebar-menu li.sub .templatemo-submenu { display: none; }
.templatemo-sidebar-menu li.sub.open .templatemo-submenu { display: block; }
.templatemo-submenu { padding-left: 0; }
.templatemo-submenu li {
    list-style: none;
    background-color: #DFDFDF;
}
.templatemo-submenu li a {
    display: block;
    padding:10px 15px;
	font-weight:bold;
    margin: 0;
}
.templatemo-sidebar-menu > li.sub.open > a {
    background-color:white;
	border-bottom:1px solid #BED3EA;
	border-top:1px solid #BED3EA;
}
.templatemo-sidebar .templatemo-sidebar-menu >li.active, .templatemo-sidebar .templatemo-sidebar-menu>li>a:hover {
    background-color: white;
}
.templatemo-submenu li > a:hover {
    background-color: white;
}
.templatemo-sidebar .templatemo-sidebar-menu > li > a > i {
    font-size: 16px;
    top: 2px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 4px;
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

/* 4. Charts 
--------------------------------------------*/
.templatemo-chart-box {
    display: inline-block;
    text-align: center;
    padding: 20px 30px 30px 0;
}

/* 5. Preferences Form
------------------------------------------*/
#templatemo-preferences-form {
    max-width: 960px;
    margin-bottom: 30px;
}

/* 6. Sign in Form 
--------------------------------------------*/
.templatemo-signin-form {
    padding-top: 50px;
    max-width: 600px;
    margin: 0 auto;
}
.form-horizontal .form-group {
	font-size:18px;
    margin-right: 0;
    margin-left: 0;
}

/* 7. tables.html
------------------------------------------*/
#templatemo_sort_btn { margin-bottom: 20px; }

/* 8. Bootstrap overrides
----------------------------------------------*/
.nav-pills>li>a, .nav-tabs>li>a, .alert, .progress, .panel, .btn, .panel-group .panel, .form-control, .modal-content, .breadcrumb {
    border-radius: 0;
}
.list-group-item:first-child, .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-control-feedback { right: 15px; }

/* 9. Maps
------------------------------------------------------*/
.jqvmap-zoomin, .jqvmap-zoomout {
    width: 15px;
    height: 15px;
}
.vmap { height: 400px; }

/* 10. Media Queries
------------------------------------------------------*/
@media screen and (min-width: 992px) {
    .templatemo-sidebar {
        width: 235px;
        float: left;
        position: relative;
        margin-right: -100%;
    }
}
@media screen and (max-width: 991px) {
    .navbar-form {
        padding: 0;
        margin-left: 0;
    }
    .navbar-header { float: none; }
    .navbar-toggle { display: block; }
    .templatemo-sidebar {
        border-top: 0 !important;
        margin: 20px;
    }
    .templatemo-sidebar.navbar-collapse.collapse {
        display: none !important;
    }
    .templatemo-sidebar.navbar-collapse.in {
        border-top: 0 !important;
        margin: 20px;
        position: relative;
        overflow: hidden !important;
        overflow-y: auto !important;
        display: block !important;
    }
    .templatemo-content-wrapper { float: none; }
    .templatemo-content { margin: 0; }
}
@media screen and (max-width: 767px) {
    .templatemo-chart-box {
        padding-right: 0;
    }
}

/*miscellaneous*/

.reviews-container{
	border:1px #ccc solid;
	border-radius:3px;
	background:none;
	box-shadow:0 0 10px 0 rgba(0,0,0,.2);
	padding: 10px;
	-moz-box-shadow:0 5px 10px 0px rgba(0,0,0,.2);
	-webkit-box-shadow:0 5px 10px 0px rgba(0,0,0,.2); 
}
.reviews-container button{
	margin-top:5%;
	border-radius:5px;
}

.reviews-box{
	border:1px #ccc solid;
	border-radius:3px;
	background:none;
	min-height: 180px;
	padding: 10px;	
	margin-bottom:5%;
}
.reviews-notification{
	position:absolute;
	top:85%;	
}
.reviews-viewall{
	position:absolute;
	top:85%;	
	left:80%;
}
.shop-item-smaller {
  max-width:250px !important;
  margin:5px !important;
  cursor:default;
}